
@{
    ViewBag.Title = "Index";
    List<SelectListItem> li = new List<SelectListItem>();
    li.Add(new SelectListItem() { Text = "Apple", Value = "1" });
    li.Add(new SelectListItem() { Text = "Orange", Value = "2" });
    li.Add(new SelectListItem() { Text = "Mango", Value = "3" });
    li.Add(new SelectListItem() { Text = "A", Value = "4" });
}

<h2>Index</h2>
@Html.DropDownList("Fruitlist",li,"Select Any One")
